
Freelance_Marketplace-main/.vscode/

Freelance_Marketplace-main/backend/__pycache__/

Freelance_Marketplace-main/backend/env/

Freelance_Marketplace-main/backend/app/__pycache__/

Freelance_Marketplace-main/backend/app/external/

Freelance_Marketplace-main/backend/graphs/

Freelance_Marketplace-main/backend/instance/

.vscode/
